<ul id = "menu" class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}" href="{{ path('app_account') }}">Mon compte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'app_account_modify_pwd' %}active{% endif %}" href="{{ path('app_account_modify_pwd') }}">Modifier mon mot de passe</a>

    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'app_car_index' %}active{% endif %}" href="{{ path('app_car_index') }}">Mes véhicules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'app_driver' %}active{% endif %}" href="{{ path('app_driver_parameters') }}">Mes paramètres conducteur</a>
    </li>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE') %}

        <li class="nav-item">

            <a class="nav-link" href="{{ path('admin') }}">Administration</a>

        </li>
        

    {% endif %}

    <li class="nav-item">

        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>

    </li>

</ul>