{% extends 'base.html.twig' %}


{% block body %}
<h1 class="text-center mt-5">Mon compte</h1>
<div class="container my-5 d-flex flex-wrap justify-content-between">
    
    <div class = "col-md-3 col-sm-12 mt-4">
    {% include 'account/_menu.html.twig' %} 
    </div>
    <div class="col-md-9 col-sm-12 mb-4">
        <div class="card " id="card-account">
            <div class="card-header bg-gold">
                <h4>Mes informations personnelles</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                    <h5>Moi-même</h5>
                        <div class="mb-2">
                            <span class="data-label">Nom:</span> {{ app.user.lastname }}
                        </div>
                        <div class="mb-2">
                            <span class="data-label">Prénom:</span> {{ app.user.firstname }}
                        </div>
                        <div class="mb-2">
                            <span class="data-label">Email:</span> {{ app.user.email }}
                        </div>
                    </div>
                    
                </div>

                {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_EMPLOYEE' in app.user.roles %}
                <div class="mt-2">
                    <a href="{{ path('admin')}}" class="btn btn-outline-success mb-5">
                        <i class="fas fa-cogs me-2"></i>Administration
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="card-footer bg-white">
                <div class="d-flex flex-wrap justify-content-between">
                    <a href="{{ path('app_account_modify_pwd') }}" class="btn btn-outline-primary mb-2 mb-md-0">
                        <i class="fas fa-key me-2"></i>Modifier mot de passe
                    </a>
                    
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">
                        <i class="fas fa-sign-out-alt me-2"></i>Déconnexion
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
